$font-stack: Helvetica, sans-serif;
$primary-color: #333;

body {
  font: 100% $font-stack;
  color: $primary-color;
}

nav {
  ul {
    list-style: none;
  }

  li {
    font-size: 11px;
  }

  a {
    text-decoration: none;
  }
}
