// Este archivo contiene variables y estilos para diferentes estados y elementos.

// Variables para colores de estado
$success_color: #2ecc72; // Color para el estado de éxito
$warning_color: #f1c40f; // Color para el estado de advertencia
$error_color: #e74c3c; // Color para el estado de error
$normal_color: #333333; // Color para el estado normal

// Estilos para el estado de éxito
.success {
  color: $success_color;
  background-color: darken($success_color, 25%);
}

// Estilos para el estado de advertencia
.warning {
  color: $warning_color;
  background-color: darken($warning_color, 25%);
}

// Estilos para el estado de error
.error {
  color: $error_color;
  background-color: darken($error_color, 25%);
}

//Estilos comunes para los estados
.error .success .warning {
  padding: 0;
  margin: 0;
}

// Estilos para párrafos
p {
  padding: 0;
  margin: 0;
  color: $normal_color;
  text-align: justify;
  background-color: lighten($normal_color, 50%);
}
// Estilos para encabezados
h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
}

// Estilos para encabezados
$font_size: 2em;
@for $i from 1 through 6 {
  h#{$i} {
    color: $normal_color;
    font-size: $font_size;
    background-color: lighten($normal_color, 50%);
  }
  $font_size: $font_size - 0.2;
}
