@use "@material/icon-button";
@use "@material/top-app-bar/mdc-top-app-bar";
@use "@material/tab-bar/mdc-tab-bar";
@use "@material/tab-scroller/mdc-tab-scroller";
@use "@material/tab-indicator/mdc-tab-indicator";
@use "@material/tab/mdc-tab";

.mdc-tab-bar {
    align-items: center;
    display: block;
    justify-content: center;}


.mdc-tab__text-label {
    font-size: 1.2rem;
    font-weight: 500;
    text-align: center;}